################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/flavourfrenzyassessment/FileContentIndex/45073413-319e-444e-b889-2fc374663d2b.vsidx
