@{
    ViewData["Title"] = "Home Page";
}

<br />

<div class="text-center">
    <h1 class="display-4">The Flavour Frenzy Range</h1>
</div>

<hr />
<br />

<div class="text-center">
    <h1 class="display-6">Patties</h1>
</div>

<hr />
<br />

<div class="container-bg1">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <img src="/img/quarterpoundpatty.jpg" alt="Beef patty" class="rounded img-thumbnail">
                <h5 class="text-center">Quarter Pount Beef Patty</h5>
                <hr />
                <p class="text-center">
                    Available in-store or in selected Supermarkets
                </p>
            </div>
            <div class="col-6">
                <img src="/img/chickenpatty.jpg" alt="chicken patty" class="rounded img-thumbnail   ">
                <h5 class="text-center">Southern Style Chicken Patty</h5>
                <hr />
                <p class="text-center">
                    Available in-store or in selected Supermarkets
                </p>
            </div>
        </div>
    </div>
</div>

<hr />
<br />

<div class="text-center">
    <h1 class="display-6">Bites Range</h1>
</div>

<br />
<br />

<div class="container-bg1">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img src="/img/broccolibites.jpg" alt="broccoli bites" class="rounded img-thumbnail">
                <h5 class="text-center">Broccoli Bites</h5>
                <hr />
                <p class="text-center">
                    Available in-store or in selected Supermarkets
                </p>
            </div>
            <div class="col-4">
                <img src="/img/cheesebites.jpg" alt="cheese bties" class="rounded img-thumbnail">
                <h5 class="text-center">Cheese Bites</h5>
                <hr />
                <p class="text-center">
                    Available in-store or in selected Supermarkets
                </p>
            </div>
            <div class="col-4">
                <img src="/img/chickenbites.jpg" alt="chicken bites" class="rounded img-thumbnail">
                <h5 class="text-center">
                    Chicken Bites
                </h5>
                <hr />
                <p class="text-center">
                    Available in-store or in selected Supermarkets
                </p>
            </div>
        </div>
    </div>
</div>


<hr />
<br />

<div class="text-center">
    <h1 class="display-6">Toppas</h1>
</div>

<br />
<br />

<div class="container-bg1">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img src="/img/lasagnetoppa.png" alt="lasagne toppa" class="rounded img-thumbnail">
                <h5 class="text-center">Lasagne Toppa</h5>
                <hr />
                <p class="text-center">
                    Available in-store or in selected Supermarkets
                </p>
            </div>
            <div class="col-4">
                <img src="/img/chickencordonbleutoppa.jpg" alt="chicken cordon bleu toppa" class="rounded img-thumbnail">
                <h5 class="text-center">Chicken Cordon-Bleu Toppa</h5>
                <hr />
                <p class="text-center">
                    Available in-store or in selected Supermarkets
                </p>
            </div>
            <div class="col-4">
                <img src="/img/baconcheesetoppa.png" alt="bacon cheese toppa" class="rounded img-thumbnail">
                <h5 class="text-center">
                    Bacon and Cheese Toppa
                </h5>
                <hr />
                <p class="text-center">
                    Available in-store or in selected Supermarkets
                </p>
            </div>
        </div>
    </div>
</div>

<hr />
<br />
<br />
<br />
<br />